<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309564895331-ms9ka51vngq4mdb7lb6gmrp1i5dh1thj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309564895331-ms9ka51vngq4mdb7lb6gmrp1i5dh1thj</string>
	<key>API_KEY</key>
	<string>AIzaSyAhGY1HKMuuSDIpNUDCo2iZs4AZ1jUEJGI</string>
	<key>GCM_SENDER_ID</key>
	<string>309564895331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.androidchi.CoffeeApp</string>
	<key>PROJECT_ID</key>
	<string>coffeeapp-96415</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeapp-96415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309564895331:ios:2f54b8772f415385aec856</string>
</dict>
</plist>